<div class="section-wrapper pb-3">
  <div class="page-title-wrap">
    <h1 class="page-title">Sobre</h1>
    <p>
      Olá! Sou Amanda, uma apaixonada desenvolvedora de software com um toque
      especial para o front-end. Tenho formação em Análise e Desenvolvimento de
      Sistemas e pós-graduação em Front-End.
    </p>
    <p>
      Com experiência prática em projetos variados, adquiri habilidades
      significativas em Angular e outras tecnologias front-end, onde pude
      aplicar meu conhecimento para criar aplicações web que além de funcionar
      bem, também encantam os usuários.
    </p>
    <p>
      Estou sempre em busca de desafios que me permitam expandir meu
      conhecimento e habilidades. Estou pronta para colaborar em projetos
      inovadores, onde minha paixão pelo desenvolvimento de software e minha
      experiência em front-end possam contribuir significativamente.
    </p>
  </div>
</div>
<div class="section-wrapper pt-0">
  <div class="section-title-wrap mb-3">
    <h3 class="section-title">Habilidades</h3>
  </div>
  <div class="skills">
    <div class="skills-card">
      <div class="icon">
        <i class="fa-brands fa-html5"></i>
      </div>
      <div class="text">
        <h4 class="title">Front-end</h4>
        <div class="skills-itens">
          <span class="item p-2 rounded">Angular 17+</span
          ><span class="item p-2 rounded">Single SPA</span>
          <span class="item p-2 rounded">Scss</span
          ><span class="item p-2 rounded">Bootstrap</span
          ><span class="item p-2 rounded">Flexbox</span>
          <span class="item p-2 rounded">Grid layout</span>
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="icon">
        <i class="fa-solid fa-code"></i>
      </div>
      <div class="text">
        <h4 class="title">Linguagens</h4>
        <div class="skills-itens">
          <span class="item p-2 rounded">Javascript</span
          ><span class="item p-2 rounded">Typescript</span
          ><span class="item p-2 rounded">PHP</span>
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="icon">
        <i class="fa-solid fa-cubes"></i>
      </div>
      <div class="text">
        <h4 class="title">Databases</h4>
        <div class="skills-itens">
          <span class="item p-2 rounded">Oracle</span
          ><span class="item p-2 rounded">MySQL</span>
        </div>
      </div>
    </div>
    <div class="skills-card">
      <div class="icon">
        <i class="fa-brands fa-docker"></i>
      </div>
      <div class="text">
        <h4 class="title">Others</h4>
        <div class="skills-itens">
          <span class="item p-2 rounded">Linux</span
          ><span class="item p-2 rounded">Docker</span>
          <span class="item p-2 rounded">Git</span>
        </div>
      </div>
    </div>
  </div>
</div>
