.background {
  background: url("../assets/flat-lay-desktop-with-laptop-magnifier.jpg");
  background-size: cover;
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    .page-wrapper {
      background-position: center center;
      background-size: cover;
      padding-bottom: 120px;

      .header-wrap {
        padding: 20px;
        .header-menu-btn {
          .menu-btn {
            background: #e93b81;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: 1s;
            span {
              width: 12px;
              height: 2px;
              transition: 0.5s;
              &:nth-child(1) {
                transform: translateY(-5px);
              }
              &:nth-child(2) {
                transform: translateY(5px);
              }
            }

            &.active {
              background: linear-gradient(180deg, #e93b81 0%, #e93b81 100%);
              span {
                &:nth-child(1) {
                  transform: rotate(45deg);
                }
                &:nth-child(2) {
                  transform: rotate(-45deg);
                }
                &:nth-child(3) {
                  transform: translateX(30px);
                }
              }
            }
            &:hover {
              background: linear-gradient(180deg, #e93b81 0%, #e93b81 100%);
            }
          }
        }
      }

      .parsonal-info-area {
        padding: 30px 35px;

        .parsonal-info-img {
          width: 200px;
          height: 200px;
          img {
            object-fit: cover;
          }
        }

        .parsonal-info-name {
          font-size: 26px;
          text-transform: capitalize;
          font-weight: 500;
          margin-bottom: 8px;

          a {
            outline: medium none;
            text-decoration: none;
          }
        }
        .parsonal-info-bio {
          font-weight: 500;
          text-transform: capitalize;
          font-family: "Poppins", sans-serif;
          background-color: #f3f6f6;
          padding: 4px 20px;
        }

        .parsonal-info-social-link {
          li {
            margin: 0 4px;
            a {
              width: 40px;
              height: 40px;
              background-color: #f3f6f6;
              line-height: 40px;
              font-size: 20px;
              &.github {
                color: #44566c;

                &:hover {
                  color: #6348a7;
                }
              }
              &.linkedin {
                color: #44566c;

                &:hover {
                  color: #55a8f9;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .parsonal-info-contact {
          background-color: #f3f6f6;
          padding: 10px 20px;

          .parsonal-info-contact-item {
            gap: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

            .icon {
              flex: 0 0 auto;
              width: 40px;
              height: 40px;
              line-height: 44px;
              box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
              transition: 0.3s;

              i {
                font-size: 22px;
                color: #e93b81;
              }
            }

            .text {
              .titulo {
                font-size: 12px;
              }
            }
          }

          .email,
          .phone,
          .location {
            a {
              color: #44566c;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
                color: #e93b81;
              }
            }
          }
        }
      }
      .main-menu-wrap {
        padding: 30px;
        position: sticky;
        top: -45px;
        .main-menu {
          ul {
            li {
              background-color: #f3f6f6;
              width: 84px;
              height: 84px;
              transition: 0.3s;
              &:is(.active) {
                background-color: #e93b81;
              }
              &:not(:last-child) {
                margin-bottom: 20px;
              }
              a {
                font-size: 13px;
                text-transform: capitalize;
                font-weight: 500;
                line-height: 1;
                color: #44566c;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                  color: #e93b81;
                }
                &.active {
                  color: #e93b81 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .home-1 {
    .header-area {
      margin-bottom: 50px;
      .header-wrap {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .parsonal-info-area {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 30px;
      top: -40px;
    }
  }
}
