<div class="background w-100 h-100 position-absolute">
  <div class="overlay w-100 h-100">
    <div
      class="page-wrapper home-1 vw-100 vh-100 d-block position-fixed overflow-x-hidden overflow-y-auto"
    >
      <div class="header-area mb-3">
        <div class="container">
          <div class="header-wrap">
            <div class="row align-items-center d-none d-sm-block d-xxl-none">
              <!-- menu btn -->
              <div class="col-12">
                <div
                  class="header-menu-btn text-right d-flex align-items-center justify-content-end"
                >
                  <a (click)="openMenuMobile.set(!openMenuMobile())"
                    ><div
                      class="menu-btn rounded-circle toggle_menu position-relative d-inline-flex text-center justify-content-center align-items-center overflow-hidden"
                      [ngClass]="openMenuMobile() ? 'active' : ''"
                    >
                      <span class="position-absolute bg-white rounded-2"></span>
                      <span class="position-absolute bg-white rounded-2"></span>
                      <span class="position-absolute bg-white rounded-2"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <app-menu-mobile [(openMenu)]="openMenuMobile"></app-menu-mobile>
        </div>
      </div>

      <!-- header-end -->

      <div class="container z-index-3">
        <div class="row">
          <div class="item-info col-xxl-4 col-xl-4">
            <div
              class="parsonal-info-area rounded-5 w-100 bg-white text-center"
            >
              <div class="parsonal-info-wrap">
                <!-- img -->
                <div
                  class="parsonal-info-img overflow-hidden m-auto mb-4 rounded-5"
                >
                  <img src="assets/profile-pic.png" class="w-100 h-100" />
                </div>
                <h4 class="parsonal-info-name">Amanda N. Meneghin</h4>
                <span
                  class="parsonal-info-bio mb-3 rounded-3 d-inline-block fs-6"
                  >Software Developer</span
                >
                <ul
                  class="parsonal-info-social-link mb-4 d-flex align-items-center justify-content-center p-0"
                >
                  <li class="d-inline-block">
                    <a
                      href="https://github.com/anmeneghin"
                      class="github d-inline-block text-center rounded-3"
                    >
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                  </li>
                  <li class="d-inline-block">
                    <a
                      href="https://www.linkedin.com/in/anmeneghin/"
                      class="linkedin d-inline-block text-center rounded-3"
                    >
                      <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>

                <!-- contact -->
                <div class="parsonal-info-contact mb-5 rounded-4 text-start">
                  <div
                    class="parsonal-info-contact-item d-flex align-items-center phone"
                  >
                    <div
                      class="icon rounded-3 d-inline-block bg-white text-center"
                    >
                      <i class="phone fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="text d-flex flex-column justify-content-start">
                      <span class="titulo">Celular</span>
                      <a href="tel:16993701804">(16) 99370-1804</a>
                    </div>
                  </div>

                  <div
                    class="parsonal-info-contact-item d-flex align-items-center email border-top"
                  >
                    <div
                      class="icon rounded-3 d-inline-block bg-white text-center"
                    >
                      <i class="fa-solid fa-envelope-open-text"></i>
                    </div>
                    <div class="text d-flex flex-column justify-content-start">
                      <span class="titulo">Email</span>
                      <a href="mailto:anm3219@gmail.com"
                        >anm3219&#64;gmail.com</a
                      >
                    </div>
                  </div>

                  <div
                    class="parsonal-info-contact-item d-flex align-items-center location border-top"
                  >
                    <div
                      class="icon rounded-3 d-inline-block bg-white text-center"
                    >
                      <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="text d-flex flex-column justify-content-start">
                      <span class="titulo">Localização</span>
                      <a
                        href="https://www.google.com/maps/place/Ribeir%C3%A3o+Preto,+SP/@-21.1792126,-47.9583465,12z/data=!3m1!4b1!4m6!3m5!1s0x94b9bf1d68acc21d:0x37b8ee0abedeea39!8m2!3d-21.1694018!4d-47.8110855!16zL20vMDFzcXNz?entry=ttu"
                        target="_blank"
                        >Ribeirão Preto - SP, Brasil</a
                      >
                    </div>
                  </div>
                </div>

                <!-- cv button -->
                <div class="parsonal-info-btn">
                  <button class="btn btn-primary btn-lg" (click)="downloadCV()">
                    <span class="icon">
                      <i class="fas fa-solid fa-cloud-arrow-down"></i>
                    </span>
                    Download CV
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="item col-xxl-6 col-xl-6">
            <div class="page-content-wrap bg-white h-100 rounded-5">
              <div [@routeAnimations]="getRouteAnimationData()">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
          <div class="item col-xxl-2 d-xxl-block d-none">
            <div class="main-menu-wrap bg-white rounded-5">
              <nav class="main-menu d-flex flex-column align-items-center">
                <ul class="p-0">
                  <li
                    class="d-flex justify-content-center align-items-center text-center rounded-4"
                  >
                    <a
                      [routerLink]="['/about']"
                      routerLinkActive="active"
                      class="d-flex flex-column"
                    >
                      <i class="fs-4 mb-2 fa-regular fa-address-card"></i>
                      <span> Sobre </span>
                    </a>
                  </li>
                  <li
                    class="d-flex justify-content-center align-items-center text-center rounded-4"
                  >
                    <a
                      [routerLink]="['/projects']"
                      routerLinkActive="active"
                      class="d-flex flex-column"
                    >
                      <i class="fs-4 mb-2 fa-solid fa-briefcase"></i>
                      <span> Projetos </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
