<div class="background">
  <div class="overlay">
    <div class="page-wrapper home-1">
      <div class="bostami-header-area mb-3">
        <div class="container">
          <div class="bostami-header-wrap">
            <div class="row align-items-center d-none d-sm-block d-xxl-none">
              <!-- menu btn -->
              <div class="col-12">
                <div class="bostami-header-menu-btn text-right">
                  <a (click)="openMenuMobile.set(!openMenuMobile())"
                    ><div
                      class="menu-btn toggle_menu"
                      [ngClass]="openMenuMobile() ? 'active' : ''"
                    >
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <app-menu-mobile [(openMenu)]="openMenuMobile"></app-menu-mobile>
        </div>
      </div>

      <!-- header-end -->

      <div class="container z-index-3">
        <div class="row">
          <div class="item-info col-xxl-4 col-xl-4">
            <div class="bostami-parsonal-info-area">
              <div class="bostami-parsonal-info-wrap">
                <!-- img -->
                <div class="bostami-parsonal-info-img">
                  <img src="assets/profile-pic.png" alt="avatar" />
                </div>

                <!-- name -->
                <h4 class="bostami-parsonal-info-name">Amanda N. Meneghin</h4>
                <span class="bostami-parsonal-info-bio mb-4"
                  >Software Developer</span
                >

                <!-- socail link -->
                <ul class="bostami-parsonal-info-social-link mb-4">
                  <li>
                    <a href="https://github.com/anmeneghin" class="github">
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/anmeneghin/"
                      class="linkedin"
                    >
                      <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>

                <!-- contact -->
                <div class="bostami-parsonal-info-contact mb-5">
                  <div class="bostami-parsonal-info-contact-item phone">
                    <div class="icon">
                      <i class="phone fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="text">
                      <span class="titulo">Celular</span>
                      <a href="tel:16993701804">(16) 99370-1804</a>
                    </div>
                  </div>

                  <div
                    class="bostami-parsonal-info-contact-item email border-top"
                  >
                    <div class="icon">
                      <i class="fa-solid fa-envelope-open-text"></i>
                    </div>
                    <div class="text">
                      <span class="titulo">Email</span>
                      <a href="mailto:anm3219@gmail.com"
                        >anm3219&#64;gmail.com</a
                      >
                    </div>
                  </div>

                  <div
                    class="bostami-parsonal-info-contact-item location border-top"
                  >
                    <div class="icon">
                      <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="text">
                      <span class="titulo">Localização</span>
                      <a
                        href="https://www.google.com/maps/place/Ribeir%C3%A3o+Preto,+SP/@-21.1792126,-47.9583465,12z/data=!3m1!4b1!4m6!3m5!1s0x94b9bf1d68acc21d:0x37b8ee0abedeea39!8m2!3d-21.1694018!4d-47.8110855!16zL20vMDFzcXNz?entry=ttu"
                        >Ribeirão Preto - SP, Brasil</a
                      >
                    </div>
                  </div>
                </div>

                <!-- cv button -->
                <div class="bostami-parsonal-info-btn">
                  <button class="btn btn-primary btn-lg" (click)="downloadCV()">
                    <span class="icon">
                      <i class="fas fa-solid fa-cloud-arrow-down"></i>
                    </span>
                    Download CV
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="item col-xxl-6 col-xl-6">
            <div class="bostami-page-content-wrap">
              <div [@routeAnimations]="getRouteAnimationData()">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
          <div class="item col-xxl-2 d-xxl-block d-none">
            <div class="bostami-main-menu-wrap">
              <nav
                class="bastami-main-menu d-flex flex-column align-items-center"
                style="display: block"
              >
                <ul class="p-0">
                  <li>
                    <a [routerLink]="['/about']" class="d-flex flex-column">
                      <i class="fs-4 mb-2 fa-regular fa-address-card"></i>
                      <span> Sobre </span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/projects']" class="d-flex flex-column">
                      <i class="fs-4 mb-2 fa-solid fa-briefcase"></i>
                      <span> Projetos </span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
