.btn-primary {
  background-color: #E93B81;
  border-color: #E93B81;

  &:hover {
    background-color: #bb2b65;
    border-color: #bb2b65;
  }
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
  display: block;
  background-position: center center;
  background-size: cover;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 120px;
}

.bostami-header-wrap {
  padding: 20px;
  border-radius: 12px;
}

.mobile-menu-wrap {
  position: relative;
}

.bostami-header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu-btn {
  background: #1b74e4;
}

.menu-btn {
  width: 40px;
  height: 40px;
}

.menu-btn {
  position: relative;
  display: inline-flex;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
}

.menu-btn span:nth-child(1) {
  transform: translateY(-5px);
}

.menu-btn span:nth-child(2) {
  transform: translateY(5px);
}

.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
  transform: rotate(-45deg);
}

.menu-btn.active span:nth-child(3) {
  transform: translateX(30px);
}

.menu-btn span {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #ffff;
  border-radius: 2px;
  transition: 0.5s;
}

.menu-btn:hover {
  background: linear-gradient(180deg, #1b74e4 0%, #1b74e4 100%);
}

.menu-btn.active {
  background: linear-gradient(180deg, #1b74e4 0%, #1b74e4 100%);
}

@media only screen and (min-width: 1200px) and (max-width: 1399px),
only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .home-1 .bostami-header-wrap {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px),
only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .home-1 .bostami-header-area {
    margin-bottom: 50px;
  }
}

@media (min-width: 1800px),
only screen and (min-width: 1600px) and (max-width: 1799px),
only screen and (min-width: 1400px) and (max-width: 1599px) {
  .menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {

  .home-1 .bostami-header-area {
    margin-bottom: 50px;
  }

  .home-1 .bostami-header-wrap {
    margin-left: 0px;
    margin-right: 0px;
  }

  .bostami-parsonal-info-area {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
    top: -40px;
  }

}

.z-index-5 {
  position: relative;
  z-index: 5;

}



.bostami-parsonal-info-contact-item:not(:first-child) {
  border-top: 1px solid #e3e3e3;
}

.bostami-parsonal-info-area {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding: 30px 35px;
}

.bostami-parsonal-info-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 21px;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}





.bostami-parsonal-info-name {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 500;
  color: black;
  margin-bottom: 8px;

  a {
    outline: medium none;
    text-decoration: none;
  }
}





.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.bostami-parsonal-info-bio {
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
  color: #000;
  font-family: "Poppins", sans-serif;
  background-color: #f3f6f6;
  border-radius: 5px;
  padding: 4px 20px;
}

.bostami-parsonal-info-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

}

.bostami-parsonal-info-social-link li {
  display: inline-block;
  margin: 0 4px;
}

.bostami-parsonal-info-social-link li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #f3f6f6;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.bostami-parsonal-info-social-link .github {
  color: #44566c;

  &:hover {
    color: #6348a7;
  }
}

.bostami-parsonal-info-social-link .linkedin {
  color: #44566c;

  &:hover {
    color: #55a8f9;
    text-decoration: underline;
  }
}

.bostami-parsonal-info-contact {
  background-color: #f3f6f6;
  border-radius: 16px;
  text-align: left;
  padding: 10px 20px;

  .bostami-parsonal-info-contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    .icon {
      flex: 0 0 auto;
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: #ffff;
      border-radius: 8px;
      text-align: center;
      line-height: 44px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
      transition: 0.3s;

      i {
        font-size: 22px;
        color: #e93b81;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .titulo {
        font-size: 12px;
      }
    }
  }

  .email,
  .phone,
  .location {
    a {
      color: #44566c;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #e93b81;
      }
    }
  }
}

.pr-60 {
  padding-right: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.mb-35 {
  margin-bottom: 35px;
}








.bostami-main-menu-wrap {
  background: white;
  border-radius: 16px;
  padding: 30px;
  position: sticky;
  top: -45px;
}

.bastami-main-menu ul li:is(.active) {
  background-color: #1b74e4;
}

.bastami-main-menu ul li:not(:last-child) {
  margin-bottom: 20px;
}

.bastami-main-menu ul li {
  background-color: #f3f6f6;
  border-radius: 12px;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.bastami-main-menu ul li a {
  display: block;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1;
  color: #44566c;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #e93b81;
  }
}